
/**********************************************/
/**********************************************/
/*** PROGETTO: ajax-ex-calendar - style.css ***/
/**********************************************/
/**********************************************/


/**********************************************/
/************* REGOLE GENERALI ****************/
/**********************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/************************************************/
/************* OGGETTI RICORRENTI ***************/
/************************************************/

.day_item {

}

.day_item .festivity {
  display: none;
}

.day_item .festivity.active {
  display: inline-block;
}

/**********************************************/
/************* SEZIONI DOCMUMENTO *************/
/**********************************************/

#main-container {
  height: 100vh;
  width: 100vw;
  background: grey;
}

.selectedMonth {

}
